* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    font-family: 'Georama', sans-serif;
    height: 90%;
}

main .container .col img{
    width: 60px;
}

main .container .col .card-group .container .row{
    background-color: #FFE2B4;
}
main .container .col .row a{
    background-color: #fbb800;
}
main .container .col .row .result{
    background-color: #072e84;
}

header{
    background-color: #072e84;
    font-family: 'Georama', sans-serif;
    height: 10%;
    display: flex;
    align-items: center;
}

header img{
    width: 7rem;
}

header .col-user {
    display: flex;
    flex-direction: row;
}


.img-fundo{
    background: url(../img/image\ 25.png) rgb(255, 255, 255) 50% / cover no-repeat;
    background-size: 80%;
    background-position-y: bottom;
}


/*CADASTRO E ENTRADA*/


.container-fluid , .container-fluid main .container .col button, main .container .btn{
    background-color: #072e84;
}

.container-fluid main .container-lg {
    margin-top: 10rem;
}

.container-fluid main .container {
    display: flex;
    flex-direction: row;
}

.container-fluid .container img{
    width: 15rem;
}

.container-fluid .container-lg a, .numParticipantes{
    background-color: #fbb800;
    font-family: 'Chakra Petch', sans-serif;
}

@media screen and (max-width: 820px) {
    .container-fluid main .container{
        flex-direction: column;
    }
}