* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #054895;
    --amarelo: #fbb800;
}

body {
    height: 100vh;
}

main {
    font-family: 'Georama', sans-serif;
    height: 90%;
}

.img-user {
    width: 60px;
    height: 60px;
}

.sair-botao {
    max-width: 4rem;
}

main .container .col .card-group .container .row {
    background-color: #FFE2B4;
}

main .container .col .row a, main .container .col .row .sorteio {
    background-color: var(--amarelo);
}

main .container .col .row .result {
    background-color: var(--blue);
}

header {
    background-color: var(--blue);
    font-family: 'Georama', sans-serif;
    height: 10%;
    display: flex;
    align-items: center;
}

header img {
    width: 6rem;
}

header .col-user {
    display: flex;
    flex-direction: row;
}


.img-fundo {
    background: url(../img/image\ 25.png) rgb(255, 255, 255) 50% / cover no-repeat;
    background-size: 80%;
    background-position-y: bottom;
}

.perfil_img {
    border-radius: 100%;
}

/*CADASTRO E ENTRADA*/


.container-fluid, .container-fluid main .container .col button, main .container .btn {
    background-color: var(--blue);
}

.container-fluid main .container-lg {
    margin-top: 10rem;
}

.container-fluid main .container {
    display: flex;
    flex-direction: row;
}

.container-fluid .container-lg a, .numParticipantes {
    background-color: var(--amarelo);
    font-family: 'Chakra Petch', sans-serif;
}

.batata {
    width: 1rem;
}



@media screen and (max-width: 993px) {
    .container-fluid main .container, main .col {
        flex-direction: column;
    }
}

@media screen and (max-width: 993px) {
    .imagem_user {
        visibility: hidden;
        width: 0rem;
        height: 0rem;
    }

    .principal {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -3rem;
    }

    .botao {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sair-botao {
        margin-top: 1rem;
    }

    .img_user {
        margin-right: -2rem;
    }

}

/* codigo mobile */

@media screen and (max-width: 993px) {
    .botaoInicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .botaoDeEntrada{
        width: 10rem;
        padding: 1rem;
    }
    .img-fundo{
        background-size: 170%;
    }
    .containerSorteio{
        display: flex;
        flex-direction: column-reverse;
    }
    .principal{
        height: 100%;
    }
    .setinha{
        visibility: hidden;
    }
}